[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
#NuGet
packages/
csx/

*.backup
App_Data
media
readme.html
*.nupkg
tools
packaging
.vs

node_modules

dist

# Umbraco files
App_Browsers
App_Data
App_Plugins
media
umbraco
umbraco_client
Views
demo/uRested.UmbracoDemo/js
demo/uRested.UmbracoDemo/css
demo/uRested.UmbracoDemo/scripts

# VSCode
.settings
